.root {
  width: calc(25% - 40px);

  margin: 20px;
  box-sizing: border-box;
  min-height: fit-content;
  height: 400px;
}
.Card {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 14px;
}
.pos {
  margin-bottom: 12px;
}
.Label {
  color: #ccc;
}
.CardWrap {
  display: flex;
  flex-wrap: wrap;
}
.Pagination {
  width: 30%;
  margin: auto;
}
.FormControl {
  width: 150px;
}
.Filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
